<!DOCTYPE html>
<body>
<div data-role="content">
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
      <h1>Pub Messenger</h1>
    </div><!-- /header -->

    <div data-role="content">
      <ul data-role="listview" id="messageList">
        <!-- <li><span class="username">User123:</span>This is my message.</li> -->
      </ul>
    </div>

    <div data-role="footer" data-theme="c">
      <textarea id="messageContent"></textarea>
        <div class="ui-grid-a">
          <div class="ui-block-a"><a href="#" id="sendMessageButton" data-role="button">Send Message</a></div>
          <div class="ui-block-b"><a href="#" id="backButton" data-rel="back" data-role="button">Chat Rooms</a></div>
        </div>
    </div>
  </div><!-- /content -->
</body>
</html>