{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Zhang's Pubnub Chatty</title>


<script src=http://cdn.pubnub.com/pubnub.min.js></script>
<script src="{% static "pubnub_chatserver.js" %}"></script>

</head>
<body>

<h1>There are {{ channel_count }} active channels.</h1>

<div class="basic">
    {% include "chatserver/help.html" %}
</div>
<br />
<div id=channel_name>{{ channel_name }}</div>

<div><input id=input placeholder=your-chat-here /></div>
<br />

Chat Output
<div id=box></div>


<script src="{% static "pub_chat.js" %}"></script>

<div id="test_output"><br /></div>
</body>
</html>